.InputWrapper {
  display: flex;
  flex-direction: row;
}

.placeHolder {
  margin-right: 5px;
  color: inherit;
}

.input {
  padding-left: 3px;
  padding-right: 3px;
}

.inputgrow {
  flex-grow: 1;
}

.readonly {
  opacity: 0.7;
}
