.Select {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  outline: none;
  color: var(--primary-color);
  padding: 2px 3px;
  border: 1px solid var(--primary-color);
}

.selectgrow {
  flex-grow: 1;
}

.option {
  color: var(--primary-color-inverted);
  background: var(--bg-color-inverted);
}
