.app.dark {
  --bg-color: #0d3602;
  --bg-color-inverted: lightgrey;
  --primary-color: orange;
  --secondary-color: #03cb03;
  --primary-color-inverted: black;
  --secondary-color-inverted: #7c7c7c;
}
