.app_dark_theme {
  --bg-color: #0d3602;
  --bg-color-inverted: #165d03;
  --primary-color: #ee9a01;
  --secondary-color: #e58d25;
  --primary-color-inverted: lightgrey;
  --secondary-color-inverted: #7c7c7c;

  // skeleton
  --skeleton-color: #7c7c7c;
  --skeleton-shadow: #165d03;

  // code
  --code-bg: #fff;
}
