.app_light_theme {
  --bg-color: lightgrey;
  --bg-color-inverted: #0d3602;
  --primary-color: #2c2b2b;
  --secondary-color: #696969;
  --primary-color-inverted: #d08600;
  --secondary-color-inverted: #03cb03;
}
