.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-inverted);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.siteName {
  width: var(--sidebar-width);
}

.createArticle {
  margin-left: fill;
}
