.ProfileCard {
  padding: 30px;
  border: 2px solid var(--bg-color-inverted);
  border-radius: 10px;
}

.loader,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.data {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 2px;
  width: 100%;
}

.editing {
  border: 2px solid var(--primary-color-inverted);
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}
